/* RUBIK Font */
@font-face {
  font-family: 'rubik';
  src: url('../fonts/rubik/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubik-light';
  src: url('../fonts/rubik/Rubik-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubik-bold';
  src: url('../fonts/rubik/Rubik-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rubik-italic';
  src: url('../fonts/rubik/Rubik-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* HACK Font */
@font-face {
  font-family: 'hack';
  src: url('../fonts/hack/Hack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'hack-bold';
  src: url('../fonts/hack/Hack-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* INCONSOLATA Font */
@font-face {
  font-family: 'notcourier';
  src: url('../fonts/notcouriersans/NotCourierSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'notcourier-bold';
  src: url('../fonts/notcouriersans/NotCourierSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* AAARGH Font */
@font-face {
  font-family: 'aaargh';
  src: url('../fonts/Aaargh/Aaargh.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Aller Font */
@font-face {
  font-family: 'aller';
  src: url('../fonts/Aller/Aller_Rg.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aller-light';
  src: url('../fonts/Aller/Aller_Lt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'aller-bold';
  src: url('../fonts/Aller/Aller_Bd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}