@charset "UTF-8";
/* RUBIK Font */
@import url(normalize.css);
@import url(smalltalk.css);
@font-face {
  font-family: 'rubik';
  src: url("../fonts/rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rubik-light';
  src: url("../fonts/rubik/Rubik-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rubik-bold';
  src: url("../fonts/rubik/Rubik-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rubik-italic';
  src: url("../fonts/rubik/Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* HACK Font */
@font-face {
  font-family: 'hack';
  src: url("../fonts/hack/Hack-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hack-bold';
  src: url("../fonts/hack/Hack-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* INCONSOLATA Font */
@font-face {
  font-family: 'notcourier';
  src: url("../fonts/notcouriersans/NotCourierSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'notcourier-bold';
  src: url("../fonts/notcouriersans/NotCourierSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* AAARGH Font */
@font-face {
  font-family: 'aaargh';
  src: url("../fonts/Aaargh/Aaargh.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* Aller Font */
@font-face {
  font-family: 'aller';
  src: url("../fonts/Aller/Aller_Rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'aller-light';
  src: url("../fonts/Aller/Aller_Lt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'aller-bold';
  src: url("../fonts/Aller/Aller_Bd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
.spinner {
  width: 40px;
  height: 40px;
  margin: 0;
  background-color: white;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease; }

/*! BRICKst v1.0.0 | MIT License | allienworks.net */
* {
  box-sizing: border-box; }

html {
  font-size: 16px;
  line-height: 1.2rem; }

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  cursor: default; }

a {
  text-decoration: none;
  color: #4374b7; }
  a:hover {
    color: #355c92; }
  a:focus {
    outline: none; }

h1, h2, h3, h4, h5 {
  font-feature-settings: "dlig", "liga", "kern"; }

.row {
  width: 100%;
  max-width: 74rem;
  margin: 0 auto; }
  .row:after {
    clear: both;
    content: " ";
    display: table; }
  .row.expand {
    max-width: 100%; }
  .row.collapse .column, .row.collapse .columns {
    padding: 0; }
  .row.narrow .column, .row.narrow .columns {
    padding: 0 0.6rem; }

.column,
.columns {
  float: left;
  width: 100%;
  padding: 0 1.2rem;
  position: relative; }
  .column.end,
  .columns.end {
    float: right; }

.small-11 {
  width: 91.66667%; }

.small-10 {
  width: 83.33333%; }

.small-9 {
  width: 75%; }

.small-8 {
  width: 66.66667%; }

.small-7 {
  width: 58.33333%; }

.small-6 {
  width: 50%; }

.small-5 {
  width: 41.66667%; }

.small-4 {
  width: 33.33333%; }

.small-3 {
  width: 25%; }

.small-2 {
  width: 16.66667%; }

.small-1 {
  width: 8.33333%; }

.small-centered {
  float: none;
  margin: 0 auto; }

.small-uncentered {
  float: left;
  margin: 0; }

@media only screen and (min-width: 40.063rem) {
  .large-1, .large-2, .large-3, .large-4, .large-5, .large-6, .large-7, .large-8, .large-9, .large-10, .large-11, .large-12 {
    width: 100%; }

  .medium-11 {
    width: 91.66667%; }

  .medium-10 {
    width: 83.33333%; }

  .medium-9 {
    width: 75%; }

  .medium-8 {
    width: 66.66667%; }

  .medium-7 {
    width: 58.33333%; }

  .medium-6 {
    width: 50%; }

  .medium-5 {
    width: 41.66667%; }

  .medium-4 {
    width: 33.33333%; }

  .medium-3 {
    width: 25%; }

  .medium-2 {
    width: 16.66667%; }

  .medium-1 {
    width: 8.33333%; }

  .medium-centered {
    float: none;
    margin: 0 auto; }

  .medium-uncentered {
    float: left;
    margin: 0; } }
@media only screen and (min-width: 64.063rem) {
  .large-11 {
    width: 91.66667%; }

  .large-10 {
    width: 83.33333%; }

  .large-9 {
    width: 75%; }

  .large-8 {
    width: 66.66667%; }

  .large-7 {
    width: 58.33333%; }

  .large-6 {
    width: 50%; }

  .large-5 {
    width: 41.66667%; }

  .large-4 {
    width: 33.33333%; }

  .large-3 {
    width: 25%; }

  .large-2 {
    width: 16.66667%; }

  .large-1 {
    width: 8.33333%; }

  .large-centered {
    float: none;
    margin: 0 auto; }

  .large-uncentered {
    float: left;
    margin: 0; } }
input,
textarea,
select {
  width: 100%;
  margin-bottom: 0.7rem; }
  input[type="checkbox"], input[type="radio"],
  textarea[type="checkbox"],
  textarea[type="radio"],
  select[type="checkbox"],
  select[type="radio"] {
    width: auto; }

label {
  cursor: pointer; }

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic; }

iframe {
  display: block;
  max-width: 100%; }

.hide {
  display: none; }

.hide-for-small {
  display: none !important; }
  @media only screen and (min-width: 40.063rem) {
    .hide-for-small {
      display: inherit !important; } }

@media only screen and (min-width: 40.063rem) {
  .hide-for-medium {
    display: none !important; } }
@media only screen and (min-width: 64.063rem) {
  .hide-for-medium {
    display: inherit !important; } }

@media only screen and (min-width: 64.063rem) {
  .hide-for-large {
    display: none !important; } }

@media only screen and (min-width: 40.063rem) {
  .show-for-small {
    display: none !important; } }

.show-for-medium {
  display: none !important; }
  @media only screen and (min-width: 40.063rem) {
    .show-for-medium {
      display: inherit !important; } }
  @media only screen and (min-width: 64.063rem) {
    .show-for-medium {
      display: none; } }

.show-for-large {
  display: none; }
  @media only screen and (min-width: 64.063rem) {
    .show-for-large {
      display: inherit !important; } }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.tfx, .button, button, a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.zoom {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

.clearfix::before, .clearfix::after {
  content: "";
  display: table; }
.clearfix::after {
  clear: both; }

.show-grid {
  background-image: linear-gradient(to bottom, #0ff 0px, rgba(255, 255, 255, 0) 1px);
  background-repeat: repeat-y;
  background-size: 100% 1rem; }

.button, button {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 0.7rem 1.2rem;
  background: #4374b7;
  border-radius: 2px;
  border: none; }
  .button:hover, button:hover {
    background: #39639d;
    color: #fff; }
  .button.toggled, button.toggled {
    background: #355c92;
    box-shadow: 0 3px #223b5d inset; }
  .button.tiny, button.tiny {
    padding: 0.3rem 0.7rem;
    font-size: 0.65rem; }
  .button.small, button.small {
    padding: 0.5rem 0.95rem;
    font-size: 0.825rem; }
  .button.large, button.large {
    padding: 0.9rem 1.45rem;
    font-size: 1.125rem; }
  .button.expand, button.expand {
    width: 100%; }
  .button.secondary, button.secondary {
    color: #202020;
    background: #DCDDDE; }
    .button.secondary:hover, button.secondary:hover {
      background: #cacbcd; }
    .button.secondary.toggled, button.secondary.toggled {
      background: #c2c4c5;
      box-shadow: 0 3px #9da0a3 inset; }
  .button.success, button.success {
    background: #98C807; }
    .button.success:hover, button.success:hover {
      background: #7ea606; }
    .button.success.toggled, button.success.toggled {
      background: #739705;
      box-shadow: 0 3px #3e5203 inset; }
  .button.alert, button.alert {
    background: #D13814; }
    .button.alert:hover, button.alert:hover {
      background: #b02f11; }
    .button.alert.toggled, button.alert.toggled {
      background: #a22c10;
      box-shadow: 0 3px #611a09 inset; }
  .button.warning, button.warning {
    background: #EF9421; }
    .button.warning:hover, button.warning:hover {
      background: #dc8210; }
    .button.warning.toggled, button.warning.toggled {
      background: #ce7a0f;
      box-shadow: 0 3px #8c520a inset; }

.panel {
  background: #DCDDDE;
  padding: 0.1rem 1.4rem;
  margin: 1rem 0; }

.table {
  max-width: 100%;
  overflow-x: auto; }

table tr {
  border-bottom: 1px solid #ddd; }
  table tr th {
    text-align: left; }
table.expand {
  width: 100%; }

hr {
  margin: 2rem 0;
  border: 0;
  border-top: 1px solid #DCDDDE; }

code, kbd, pre, samp {
  background: #e9eaea; }

*:focus {
  border: 0;
  box-shadow: none; }

body {
  font-family: "rubik";
  font-size: 14px; }

h1, h2, h3, h4, h5 {
  font-family: "aller-light"; }

button {
  font-family: "aller-light";
  background: rgba(30, 190, 130, 0.1);
  border: none;
  min-width: 2rem;
  display: inline-block;
  line-height: 2rem;
  margin: 0;
  cursor: pointer;
  height: 2rem;
  padding: 0;
  color: #222222;
  border-radius: 0; }
  button:hover {
    background: #1ebe82;
    color: #fff; }
  button.add-buttons {
    width: 32%;
    padding: 0;
    margin: 0 !important; }
    button.add-buttons.inv {
      width: 100%; }
  button.save {
    position: absolute;
    right: 14px;
    bottom: 0;
    width: 5rem;
    height: 2rem;
    top: 0px; }
  button.btn:hover {
    background: #1ebe82;
    color: #fff; }
  button .fa {
    padding: 0;
    margin: 0;
    /* width: 2rem; */
    /* height: 2rem; */
    line-height: inherit;
    text-align: center; }

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  color: rgba(255, 255, 255, 0.2) !important;
  background-color: rgba(255, 255, 255, 0.1) !important; }

[contenteditable] {
  position: relative;
  min-width: 3rem !important;
  display: inline-block; }
  [contenteditable]::before {
    content: " ";
    padding: 0;
    border-bottom: 1px dashed rgba(30, 190, 130, 0.25);
    display: inline;
    position: absolute;
    pointer-events: none;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px; }

select {
  margin: 0;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: none;
  height: 34px;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.05); }

label {
  position: relative; }
  label#clients-select, label#projects-select {
    width: 100%;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased; }
    label#clients-select::before, label#projects-select::before {
      pointer-events: none;
      color: #1ebe82;
      content: "\f0c0";
      position: absolute;
      right: 0;
      background: rgba(255, 255, 255, 0.1);
      width: 2rem;
      height: 2rem;
      top: 0;
      text-align: center;
      line-height: 2rem;
      font-size: 1rem;
      opacity: 0.4; }

input {
  margin: 0 !important; }

.flat {
  padding: 0 !important;
  margin: 0 !important; }

/* INFO ALERTS ----------------------------------------------------------- */
.notif-area {
  position: fixed;
  z-index: 12;
  right: 0;
  top: 2rem;
  overflow: hidden;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .notif-area .notification {
    position: relative;
    display: block;
    height: auto;
    background: white;
    z-index: 10;
    margin-top: 0.4rem;
    padding: 0.2rem 0 0.4rem 0;
    box-shadow: 0 1px 8px -4px rgba(0, 0, 0, 0.8);
    transform: translate(0, 0);
    transition: all 0.2s ease; }
    .notif-area .notification .title {
      display: block;
      padding-left: 0.5rem;
      line-height: 1.5rem; }
    .notif-area .notification .info {
      padding: 0.5rem;
      white-space: pre-wrap; }
    .notif-area .notification .progress {
      display: block;
      width: 4px;
      position: absolute;
      left: 0;
      top: 0;
      height: 0;
      background: rgba(255, 255, 255, 0.8);
      transform: translate(-4px, 0);
      transition: all 0.2s ease; }
    .notif-area .notification .close {
      position: absolute;
      right: 5px;
      top: 5px;
      width: 1rem;
      height: 1rem;
      text-align: center;
      background: white; }
      .notif-area .notification .close::before {
        content: "×";
        width: 100%;
        height: 100%;
        color: #cc2211;
        line-height: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.4rem; }
    .notif-area .notification.toleft {
      transform: translate(110%, 0); }
    .notif-area .notification.alert {
      border-left: 4px solid #ff8d69; }
      .notif-area .notification.alert .title {
        color: #D13814; }
    .notif-area .notification.error {
      border-left: 4px solid #ff7766; }
      .notif-area .notification.error .title {
        color: #cc2211; }
    .notif-area .notification.success {
      border-left: 4px solid #edff5c; }
      .notif-area .notification.success .title {
        color: #98C807; }

/* HEADER ---------------------------------------------------------------- */
header {
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2rem;
  background: #1ebe82;
  color: white;
  z-index: 11;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); }
  header .title {
    line-height: 2rem;
    margin-left: 1rem; }
    header .title svg {
      max-height: 2rem;
      width: 10rem;
      float: left; }
      header .title svg path {
        fill: white; }

.hide-toggle {
  -webkit-app-region: no-drag;
  width: 100%;
  height: 0.8rem;
  background: rgba(0, 0, 0, 0.6);
  line-height: 0.8rem;
  font-size: 0.6rem;
  color: rgba(30, 190, 130, 0.8);
  text-align: center;
  cursor: pointer; }

/* MENU ------------------------------------------------------------------ */
.navigation {
  background: #eee;
  -webkit-app-region: drag;
  position: fixed;
  top: 2rem;
  left: 0;
  width: 10rem;
  height: 100vh; }
  .navigation .item {
    -webkit-app-region: no-drag;
    width: 100%;
    cursor: pointer;
    padding-left: 1rem;
    margin: 0 0 0 0;
    line-height: 2rem;
    display: inline-block;
    text-decoration: none;
    color: #1ba873; }
    .navigation .item:hover, .navigation .item.active {
      text-decoration: none;
      background: #1ebe82;
      color: white; }

/* TRACKER --------------------------------------------------------------- */
.urgent-checkbox {
  position: relative;
  width: 2.5rem;
  height: 4rem;
  display: inline-block;
  cursor: pointer; }
  .urgent-checkbox span {
    display: none; }
  .urgent-checkbox .checkbox {
    -webkit-appearance: none;
    transform: scale(1);
    width: 2rem;
    height: 2rem;
    position: relative;
    margin: 1rem 0.3rem !important;
    cursor: pointer; }
    .urgent-checkbox .checkbox::before {
      cursor: pointer;
      color: white;
      content: "!";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 100%;
      background: rgba(255, 255, 255, 0.5);
      border: 1px solid #1ebe82;
      text-align: center;
      line-height: 2rem;
      font-size: 1.2rem; }
    .urgent-checkbox .checkbox:hover::before {
      color: white;
      border: 1px solid white;
      background: #dc3246; }
    .urgent-checkbox .checkbox:checked::before {
      color: white;
      border: 1px solid white;
      background: #dc3246; }

.stopwatch .header {
  position: fixed;
  top: 2rem;
  left: 10rem;
  right: 0;
  height: 4rem;
  background: white;
  z-index: 1; }
.stopwatch .tasks {
  margin-top: 5rem; }

.tracker {
  width: calc(100% - 10rem);
  line-height: 2rem;
  -webkit-app-region: no-drag;
  margin: 0;
  background: #1ebe82;
  height: 4rem;
  display: inline-block; }
  .tracker .card {
    width: 8rem;
    display: inline-block;
    float: left;
    height: 4rem;
    line-height: 4rem;
    margin-right: 0.5rem; }
    .tracker .card input {
      display: inline-block;
      height: 3rem;
      line-height: 3rem;
      white-space: nowrap;
      border: none;
      border-bottom: 1px solid white;
      width: 100%;
      padding: 0.5rem;
      float: left;
      margin-top: 0.5rem !important;
      background: transparent;
      margin-left: 0.5rem !important;
      color: white;
      font-size: 1.2rem; }
    .tracker .card .clients-box, .tracker .card .projects-box {
      position: absolute;
      overflow: hidden;
      width: auto;
      box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.5);
      z-index: 1000;
      background: white;
      border-radius: 0 0 2px 2px;
      top: 3.5rem;
      left: 0.5rem; }
      .tracker .card .clients-box .close, .tracker .card .projects-box .close {
        position: absolute; }
    .tracker .card .clients-select, .tracker .card .projects-select {
      position: relative;
      z-index: 100000;
      width: 20rem;
      line-height: 2rem;
      margin-top: 2rem;
      padding: 0.5rem; }
      .tracker .card .clients-select h3, .tracker .card .projects-select h3 {
        margin: 0.5rem 0; }
      .tracker .card .clients-select ul, .tracker .card .projects-select ul {
        list-style: none;
        padding: 0;
        margin: 0 0 0.5rem 0; }
        .tracker .card .clients-select ul li, .tracker .card .projects-select ul li {
          cursor: pointer;
          padding: 0 0.5rem; }
          .tracker .card .clients-select ul li:hover, .tracker .card .projects-select ul li:hover {
            background: #1ebe82;
            color: white; }
  .tracker .time {
    font-family: 'notcourier';
    display: inline-block;
    font-size: 2rem;
    line-height: 4rem;
    float: right;
    color: white;
    margin: 0 0.5rem;
    width: 10rem;
    overflow: hidden;
    white-space: nowrap;
    text-align: center; }
  .tracker .name {
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    white-space: nowrap;
    border: none;
    border-bottom: 1px solid white;
    width: calc(100% - 40rem);
    padding: 0.5rem;
    float: left;
    margin-top: 0.5rem !important;
    background: transparent;
    margin-left: 0.5rem !important;
    color: white;
    font-size: 1.2rem; }
  .tracker .controlls {
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 4rem;
    width: 11rem;
    float: right;
    height: 4rem; }
    .tracker .controlls button {
      -webkit-app-region: no-drag;
      float: right;
      height: 3rem;
      width: 3rem;
      display: inline-block;
      color: white;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 100%;
      margin: 0.5rem; }
      .tracker .controlls button:hover {
        color: #dc3246; }
  .tracker.mini {
    height: 8.5rem;
    margin-bottom: 1rem;
    position: relative;
    transition: all 0.2s ease;
    background: transparent; }
    .tracker.mini.hide {
      height: 0 !important;
      overflow: hidden;
      padding: 0;
      margin: 0 !important; }
    .tracker.mini .time {
      line-height: 3rem;
      text-align: left;
      width: 100%;
      padding: 0 0.5rem 0 0.5rem;
      font-size: 2rem;
      float: none;
      color: #222222;
      margin: 0; }
    .tracker.mini .name {
      line-height: 2rem;
      width: 9rem;
      margin: 0.5rem !important;
      background: transparent;
      height: 2rem;
      border: 0;
      border-bottom: 1px solid #1ebe82;
      font-size: inherit;
      color: #222222; }
    .tracker.mini .urgent-checkbox {
      position: absolute;
      top: 3.5rem;
      left: 7.5rem; }
      .tracker.mini .urgent-checkbox .checkbox {
        color: #1ebe82;
        transform: scale(1);
        width: 2rem;
        height: 2rem;
        position: absolute;
        -webkit-appearance: none;
        top: 0;
        left: 0;
        margin: 0 !important; }
        .tracker.mini .urgent-checkbox .checkbox::before {
          color: #1ebe82; }
        .tracker.mini .urgent-checkbox .checkbox:hover::before {
          color: white; }
        .tracker.mini .urgent-checkbox .checkbox:checked::before {
          color: white; }
    .tracker.mini .controlls {
      position: relative;
      width: 100%;
      height: auto; }
      .tracker.mini .controlls button {
        width: calc(50% - 0.5rem);
        display: inline-block;
        -webkit-app-region: no-drag;
        border-radius: 0;
        height: 2rem;
        margin: 0; }
        .tracker.mini .controlls button.stop {
          color: #1ebe82;
          float: left;
          margin-left: 0.5rem; }
        .tracker.mini .controlls button.start {
          color: #1ebe82;
          float: right;
          margin-right: 0.5rem; }
        .tracker.mini .controlls button:hover {
          color: white;
          background: #1ebe82; }

.card {
  position: relative; }
  .card .clients-box, .card .projects-box {
    position: absolute;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    background: white;
    border-radius: 0 0 2px 2px; }
    .card .clients-box .close, .card .projects-box .close {
      position: absolute; }

/* CONTENT --------------------------------------------------------------- */
.content {
  width: calc(100% - $menu-width);
  position: fixed;
  left: 10rem;
  top: 2rem;
  right: 0rem;
  bottom: 0;
  overflow: auto;
  background: white; }

/* TASKS ----------------------------------------------------------------- */
.tasks {
  list-style: none;
  padding: 0;
  margin: 1rem 0; }
  .tasks .task {
    position: relative;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
    height: 3rem;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.05);
    line-height: 3rem; }
    .tasks .task .name, .tasks .task .time, .tasks .task .urgent {
      float: left;
      margin-right: 0.5rem; }
    .tasks .task .urgent {
      height: 3rem; }
    .tasks .task .continue, .tasks .task .delete, .tasks .task .client-project, .tasks .task .start {
      float: right; }
    .tasks .task .start, .tasks .task .client-project {
      line-height: 1.5rem;
      position: absolute;
      right: 8.5rem;
      top: 1.5rem;
      font-size: 0.8rem;
      color: #999; }
    .tasks .task .client-project {
      top: inherit;
      bottom: 1.2rem; }
    .tasks .task .continue, .tasks .task .delete {
      cursor: pointer;
      width: 3rem;
      text-align: center;
      background: rgba(0, 0, 0, 0.05);
      margin-left: 0.5rem;
      transition: all 0.3s ease; }
      .tasks .task .continue:hover, .tasks .task .delete:hover {
        background: #1ebe82;
        color: white; }
    .tasks .task .continue {
      color: #1ebe82; }
    .tasks .task .delete {
      color: #dc3246; }
      .tasks .task .delete:hover {
        background: #dc3246; }
    .tasks .task .urgent-checkbox {
      height: 3rem;
      width: 3rem;
      transform: scale(0.6); }
      .tasks .task .urgent-checkbox .checkbox {
        padding: 0px !important;
        margin: 0.5rem !important; }
    .tasks .task .time {
      width: 5rem;
      height: 2rem;
      line-height: 2rem;
      margin: 0.5rem !important;
      background: transparent;
      border: none; }
    .tasks .task .name {
      width: 40%;
      float: left;
      display: inline;
      line-height: 3rem;
      border: none;
      background: transparent; }

/* SORTABLE STYLES ------------------------------------------------------- */
.as-sortable-item, .as-sortable-placeholder {
  min-height: 20px;
  margin: 0 !important;
  border-radius: 0 !important;
  border: 0 !important;
  border-bottom: 1px dashed #ccc !important; }

/* INVOICE LIST ---------------------------------------------------------- */
.invoice {
  padding: 5rem 2rem 2rem 2rem; }
  .invoice .header {
    margin-bottom: 1rem; }
  .invoice .invoice-no {
    float: right; }
  .invoice .message {
    margin: 1rem 0;
    border-top: 1px solid #1ba873;
    border-bottom: 1px solid #1ba873; }
  .invoice .our-meta {
    margin: 1rem 0;
    padding: 1rem 0;
    border-top: 1px solid #1ba873; }
  .invoice .list {
    border-top: 4px solid #1ba873; }
    .invoice .list .tasks {
      padding: 0;
      margin: 0;
      width: 100%;
      position: relative; }
      .invoice .list .tasks .item {
        display: block;
        width: 100%;
        padding: 0 1rem;
        margin: 0;
        color: #222;
        border-bottom: 1px dashed #ccc;
        position: relative;
        height: 2.5rem; }
        .invoice .list .tasks .item .descr {
          line-height: 2.5rem;
          display: inline-block;
          width: 54%;
          padding: 0;
          margin: 0;
          position: relative;
          float: left; }
          .invoice .list .tasks .item .descr [data-as-sortable-item-handle] {
            position: absolute;
            right: 0;
            line-height: 2.5rem;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 1rem;
            text-align: center;
            font-size: 0.9rem; }
          .invoice .list .tasks .item .descr .remove-button {
            position: absolute;
            right: 4rem;
            line-height: 1.6rem; }
        .invoice .list .tasks .item .price {
          line-height: 2.5rem;
          display: inline-block;
          width: 45%;
          text-align: right;
          border-left: 1px dashed #ccc;
          margin: 0;
          float: none; }
          .invoice .list .tasks .item .price .show {
            float: right;
            margin-left: 0.5rem;
            width: 2rem;
            height: 2.5rem;
            position: relative;
            text-align: center; }
            .invoice .list .tasks .item .price .show input {
              -webkit-appearance: none; }
            .invoice .list .tasks .item .price .show span {
              width: 100%;
              height: 100%;
              color: #1ebe82; }
          .invoice .list .tasks .item .price .time-box {
            float: left;
            width: 50%;
            text-align: left; }
            .invoice .list .tasks .item .price .time-box .tracked-edit {
              float: right;
              margin-left: 1rem;
              text-align: right; }
            .invoice .list .tasks .item .price .time-box.noprint {
              opacity: 0.4; }
              .invoice .list .tasks .item .price .time-box.noprint .show span {
                color: #dc3246; }
          .invoice .list .tasks .item .price .price-box {
            float: right;
            position: relative;
            min-width: 6rem;
            text-align: right; }
            .invoice .list .tasks .item .price .price-box .price-edit {
              line-height: 2.5rem;
              float: right; }
            .invoice .list .tasks .item .price .price-box.noprint {
              opacity: 0.4; }
              .invoice .list .tasks .item .price .price-box.noprint .show span {
                color: #dc3246; }
        .invoice .list .tasks .item .move, .invoice .list .tasks .item .remove {
          visibility: hidden;
          position: absolute;
          right: 3rem;
          height: 2.5rem;
          line-height: 2.5rem;
          width: 2.5rem;
          text-align: center; }
        .invoice .list .tasks .item:hover .move, .invoice .list .tasks .item:hover .remove {
          visibility: visible; }
        .invoice .list .tasks .item label .show {
          width: 1.8rem;
          display: inline-block;
          height: 1.8rem;
          overflow: hidden; }
        .invoice .list .tasks .item .show-time {
          margin: 0 !important; }
        .invoice .list .tasks .item.temp {
          background: #ffc;
          color: #666; }
      .invoice .list .tasks .top {
        display: block;
        height: 2.5rem; }
    .invoice .list .total-meta-holder {
      width: 46%;
      float: right;
      padding: 0.5rem;
      border-bottom: 2px solid #1ba873; }
      .invoice .list .total-meta-holder .show {
        float: right;
        margin-right: 1rem;
        width: 8rem;
        height: 1.5rem;
        position: relative;
        text-align: right;
        line-height: 1.5rem; }
        .invoice .list .total-meta-holder .show .fa-eye-slash {
          color: #dc3246; }
        .invoice .list .total-meta-holder .show input {
          -webkit-appearance: none; }
        .invoice .list .total-meta-holder .show span {
          width: 100%;
          height: 100%;
          color: #1ebe82; }
      .invoice .list .total-meta-holder .cena {
        float: right;
        margin-right: 1rem; }
    .invoice .list .notes {
      padding: 2.5rem 1rem 1rem 1rem !important;
      line-height: 1rem; }
      .invoice .list .notes .no-vat {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        line-height: 2.5rem;
        height: 2.5rem;
        padding-left: 1rem;
        display: block; }
  .invoice .add-box {
    height: 2rem;
    display: block; }
    .invoice .add-box .calc-summary, .invoice .add-box .date-from, .invoice .add-box .date-to {
      width: 32%;
      display: inline-block;
      height: 2rem;
      line-height: 2rem;
      border: 0;
      text-align: center; }
    .invoice .add-box .date-from, .invoice .add-box .date-to {
      background: rgba(30, 190, 130, 0.1); }
      .invoice .add-box .date-from::-webkit-datetime-edit, .invoice .add-box .date-to::-webkit-datetime-edit {
        padding: 1em; }
      .invoice .add-box .date-from::-webkit-datetime-edit-fields-wrapper, .invoice .add-box .date-to::-webkit-datetime-edit-fields-wrapper {
        background: transparent; }
      .invoice .add-box .date-from::-webkit-datetime-edit-text, .invoice .add-box .date-to::-webkit-datetime-edit-text {
        color: #1ebe82;
        padding: 0 0.2em; }
      .invoice .add-box .date-from::-webkit-datetime-edit-month-field, .invoice .add-box .date-to::-webkit-datetime-edit-month-field {
        color: #1ebe82; }
      .invoice .add-box .date-from::-webkit-datetime-edit-day-field, .invoice .add-box .date-to::-webkit-datetime-edit-day-field {
        color: #1ebe82; }
      .invoice .add-box .date-from::-webkit-datetime-edit-year-field, .invoice .add-box .date-to::-webkit-datetime-edit-year-field {
        color: #1ebe82; }
      .invoice .add-box .date-from::-webkit-inner-spin-button, .invoice .add-box .date-to::-webkit-inner-spin-button {
        display: none; }
      .invoice .add-box .date-from::-webkit-calendar-picker-indicator, .invoice .add-box .date-to::-webkit-calendar-picker-indicator {
        color: #1ebe82;
        padding: 0.5rem; }
      .invoice .add-box .date-from:hover, .invoice .add-box .date-to:hover {
        background: #1ebe82;
        color: white; }
        .invoice .add-box .date-from:hover::-webkit-datetime-edit, .invoice .add-box .date-to:hover::-webkit-datetime-edit {
          padding: 1em; }
        .invoice .add-box .date-from:hover::-webkit-datetime-edit-fields-wrapper, .invoice .add-box .date-to:hover::-webkit-datetime-edit-fields-wrapper {
          background: transparent; }
        .invoice .add-box .date-from:hover::-webkit-datetime-edit-text, .invoice .add-box .date-to:hover::-webkit-datetime-edit-text {
          color: white;
          padding: 0 0.2em; }
        .invoice .add-box .date-from:hover::-webkit-datetime-edit-month-field, .invoice .add-box .date-to:hover::-webkit-datetime-edit-month-field {
          color: white; }
        .invoice .add-box .date-from:hover::-webkit-datetime-edit-day-field, .invoice .add-box .date-to:hover::-webkit-datetime-edit-day-field {
          color: white; }
        .invoice .add-box .date-from:hover::-webkit-datetime-edit-year-field, .invoice .add-box .date-to:hover::-webkit-datetime-edit-year-field {
          color: white; }
        .invoice .add-box .date-from:hover::-webkit-inner-spin-button, .invoice .add-box .date-to:hover::-webkit-inner-spin-button {
          display: none; }
        .invoice .add-box .date-from:hover::-webkit-calendar-picker-indicator, .invoice .add-box .date-to:hover::-webkit-calendar-picker-indicator {
          color: white;
          background: #1ebe82; }
          .invoice .add-box .date-from:hover::-webkit-calendar-picker-indicator:hover, .invoice .add-box .date-to:hover::-webkit-calendar-picker-indicator:hover {
            color: #dc3246; }
    .invoice .add-box .add-item {
      padding: 0 0.8rem;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0); }
    .invoice .add-box .editContainer {
      position: absolute;
      background: white;
      z-index: 10;
      width: 100%;
      margin-bottom: 2rem;
      box-shadow: 0 5px 16px -5px;
      height: 0 !important;
      overflow: hidden; }
      .invoice .add-box .editContainer .summaries {
        list-style: none;
        padding: 0;
        margin: 0; }
        .invoice .add-box .editContainer .summaries .sum-item {
          border-bottom: 1px dashed #aaa;
          margin-bottom: 0.1rem; }
          .invoice .add-box .editContainer .summaries .sum-item .name, .invoice .add-box .editContainer .summaries .sum-item .hours, .invoice .add-box .editContainer .summaries .sum-item .show-subs, .invoice .add-box .editContainer .summaries .sum-item .add-to-invoice, .invoice .add-box .editContainer .summaries .sum-item .money {
            line-height: 2.5rem; }
          .invoice .add-box .editContainer .summaries .sum-item .money, .invoice .add-box .editContainer .summaries .sum-item .hours {
            min-width: 6rem;
            text-align: right; }
          .invoice .add-box .editContainer .summaries .sum-item .money {
            float: right;
            padding: 0 10px; }
          .invoice .add-box .editContainer .summaries .sum-item .hours {
            float: right;
            padding: 0 10px; }
          .invoice .add-box .editContainer .summaries .sum-item .show-subs, .invoice .add-box .editContainer .summaries .sum-item .add-to-invoice {
            float: right;
            width: 2.5rem;
            text-align: center;
            height: 2.5rem;
            cursor: pointer; }
            .invoice .add-box .editContainer .summaries .sum-item .show-subs:hover, .invoice .add-box .editContainer .summaries .sum-item .add-to-invoice:hover {
              background: #1ebe82;
              color: white; }
          .invoice .add-box .editContainer .summaries .sum-item .show-subs {
            background: rgba(0, 0, 0, 0.1);
            margin: 0 0 0 0.2 0.5rem; }
          .invoice .add-box .editContainer .summaries .sum-item .add-to-invoice {
            background: rgba(0, 0, 0, 0.05); }
          .invoice .add-box .editContainer .summaries .sum-item ul {
            display: none;
            list-style: none;
            padding-left: 0.6rem; }
            .invoice .add-box .editContainer .summaries .sum-item ul .sum-item .add-to-invoice {
              margin-right: 2.5rem; }
            .invoice .add-box .editContainer .summaries .sum-item ul.active {
              margin-bottom: 1rem;
              display: block; }
      .invoice .add-box .editContainer.active {
        height: auto !important;
        padding: 1rem;
        min-height: 15rem;
        overflow: auto;
        margin-top: 2rem; }
  .invoice .invoice-meta {
    padding: 1rem; }
    .invoice .invoice-meta .title, .invoice .invoice-meta .name, .invoice .invoice-meta .address, .invoice .invoice-meta .bank {
      display: block; }

.right-border {
  border-right: 1px solid #1ba873; }

.top-border {
  border-top: 2px solid #1ba873; }

/* INVOICE LOGO IMAGE --------------------------------------------------- */
.logo {
  position: relative;
  width: 4rem;
  height: 4rem;
  display: inline-block; }
  .logo .remove {
    position: absolute;
    top: 2rem;
    line-height: 2rem;
    height: 2rem;
    width: 9rem;
    left: 4.4rem; }
  .logo .image {
    max-width: 4rem;
    max-height: 4rem;
    vertical-align: middle; }

#logo-upload {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border: 1px dashed #3ca0dc;
  display: inline-block;
  top: 0; }

/* MIXED STYLES ---------------------------------------------------------- */
#export-folder {
  position: relative;
  width: 80%;
  height: 2rem;
  border: 1px dashed #3ca0dc;
  display: inline-block; }

.add-client, .add-project {
  background: white;
  transition: all 0.1s ease;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 22rem;
  height: 60vh;
  transform: translate(-50%, -50%) scale(0);
  z-index: 100;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  padding: 2rem;
  max-width: 90vw;
  opacity: 0; }
  .add-client.active, .add-project.active {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .add-client input, .add-project input {
    border: none;
    line-height: 1.2rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.1rem;
    max-width: 100%; }

.close, .minimize, .maximize {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 0;
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2rem !important;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10;
  cursor: pointer; }
  .close:hover::before, .minimize:hover::before, .maximize:hover::before {
    color: #bb3344; }

.close {
  right: 0; }

.minimize {
  right: 2rem; }

.maximize {
  right: 4rem; }

@media print {
  @page {
    margin: 0; }
  html, body {
    zoom: 100%;
    font-size: 12px; }

  .noprint {
    display: none;
    visibility: hidden; }

  header {
    display: none; }

  .content {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    height: 100%; }

  .invoice {
    padding: 1cm 1cm 1cm 1cm; }
    .invoice .clients-select {
      display: none; }

  [contenteditable]::before {
    display: none; }

  input, button, select {
    display: none; }

  #logo-upload {
    border: none !important; } }

/*# sourceMappingURL=main.css.map */
