@import "font";
@import "colors";
@import "mixins";
@import "brickst";
@import "smalltalk.css";

// layout variables
$header-height: 2rem;
$menu-width: 10rem;
*{
	&:focus{
		border: 0;
		box-shadow: none;
	}
}
body{
	font-family: "rubik";
	font-size: 14px;
}
h1,h2,h3,h4,h5{
	font-family: "aller-light";	
}
button {
	font-family: "aller-light";
	background: rgba($main, 0.1);
	border: none;
	min-width: 2rem;
	display: inline-block;
	line-height: 2rem;
	margin: 0;
	cursor: pointer;
	height: 2rem;
	padding: 0;
	color: $main-bg;
	border-radius: 0;
	&:hover{
		background: $main;
		color: #fff;
	}
	&.add-buttons {
		width: 32%;
		padding: 0;
		margin: 0 !important;
		&.inv{
			width: 100%;
		}
	}
	&.save {
		position: absolute;
		right: 14px;
		bottom: 0;
		width: 5rem;
		height: 2rem;
		top: 0px;
	}
	&.btn {
		&:hover{
			background: $main;
			color: #fff;
		}
	}
	.fa {
		padding: 0;
		margin: 0;
		/* width: 2rem; */
		/* height: 2rem; */
		line-height: inherit;
		text-align: center;
	}
	&.start, &.stop, &.pause{
	}
}
.disabled{
	cursor: not-allowed;
	pointer-events: none;
	color: rgba(255,255,255,0.2) !important;
	background-color: rgba(255,255,255,0.1) !important;
}
[contenteditable]{
	position: relative;
	min-width: 3rem !important;
	display: inline-block;
	&::before{
		content: " ";
		padding: 0;
		border-bottom: 1px dashed rgba($main, 0.25);
		display: inline;
		position: absolute;
		pointer-events: none;
		top: 0px;left: 0px;right: 0px;bottom: 0px;
	}
}
select {
	margin: 0;
	width: 100%;
	padding: 5px;
	font-size: 16px;
	border: none;
	height: 34px;
	-webkit-appearance: none;
	background: rgba(0,0,0,0.05);
}
label{
	position: relative;
	&#clients-select,&#projects-select {
		width: 100%;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		&::before{
			pointer-events: none; 
			color: $main;
			content: "\f0c0";
			position: absolute;
			right: 0;
			background: rgba(255, 255, 255, 0.1);
			width: 2rem;
			height: 2rem;
			top: 0;
			text-align: center;
			line-height: 2rem;
			font-size: 1rem;
			opacity: 0.4;
		}
	}
}
input{
	margin: 0 !important;
}
.flat{
	padding: 0 !important;
	margin: 0 !important;
}
/* INFO ALERTS ----------------------------------------------------------- */
.notif-area {
	position: fixed;
	z-index: 12;
	right: 0;
	top: 2rem;
	overflow: hidden;
	padding-left: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	.notification {
		position: relative;
		display: block;
		height: auto;
		background: white;
		z-index: 10;
		margin-top: 0.4rem;
		padding: 0.2rem 0 0.4rem 0;
		box-shadow: 0 1px 8px -4px rgba(0,0,0,0.8);
		transform: translate(0,0);
		transition: all 0.2s ease;
		.title{
			display: block;
			padding-left: 0.5rem;
			line-height: 1.5rem;
		}
		.info {
			padding: 0.5rem;
			white-space: pre-wrap;
		}
		.progress{
			display: block;
			width: 4px;
			position: absolute;
			left: 0;
			top: 0;
			height: 0;
			background: rgba(255,255,255,0.8);
			transform: translate(-4px,0);
			transition: all 0.2s ease;
		}
		.close{
			position: absolute;
			right: 5px;
			top: 5px;
			width: 1rem;
			height: 1rem;
			text-align: center;
			background: white;
			&::before{
				content: "×";
				width: 100%;
				height: 100%;
				color: $error;
				line-height: 1rem;
				position: absolute;
				top: 0;
				left: 0;
				font-size: 1.4rem;
			}
		}
		&.toleft{
			transform: translate(110%,0);
		}
		&.alert{
			border-left: 4px solid $alert + #555;
			//background: $alert;
			.title{
				color: $alert;
			}
		}
		&.error{
			border-left: 4px solid $error + #555;
			//background: $error;
			.title{
				color: $error;
			}
		}
		&.success{
			border-left: 4px solid $success + #555;
			//background: $success;
			.title{
				color: $success;
			}
		}
	}
}
/* HEADER ---------------------------------------------------------------- */
header {
	-webkit-app-region: drag;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $header-height;
	background: $main;
	color: white;
	z-index: 11;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	.title {
		line-height: $header-height;
		margin-left: 1rem;
		svg{
			max-height: $header-height;
			width: 10rem;
			float: left;
			path{
				fill: white;
			}
		}
	}
}
.hide-toggle{
	-webkit-app-region: no-drag;
	width: 100%;
	height: 0.8rem;
	background: rgba(0,0,0,0.6);
	line-height: 0.8rem;
	font-size: 0.6rem;
	color: rgba($main,0.8);
	text-align: center;
	cursor: pointer;
}

/* MENU ------------------------------------------------------------------ */
.navigation {
	background: #eee;
	-webkit-app-region: drag;
	position: fixed;
	top: $header-height;
	left: 0;
	width: $menu-width;
	height: 100vh;
	.item{
		-webkit-app-region: no-drag;
		width: 100%;
		cursor: pointer;
		padding-left: 1rem;
		margin: 0 0 0 0;
		line-height: 2rem;
		display: inline-block;
		text-decoration: none;
		color: darken($main, 5%);
		&:hover, &.active{
			text-decoration: none;
			background: $main;
			color: white;
		}
	}
}

/* TRACKER --------------------------------------------------------------- */
.urgent-checkbox {
	position: relative;
  width: 2.5rem;
  height: 4rem;
  display: inline-block;
	span{
		display: none;
	}
	cursor: pointer;
	.checkbox{	
		-webkit-appearance: none;
    transform: scale(1);
    width: 2rem;
    height: 2rem;
    position: relative;
    margin: 1rem 0.3rem !important;
    cursor: pointer;
		&::before{
	    cursor: pointer;
			color: white;
			content: "!";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 100%;
			background: rgba(255,255,255,0.5);
			border: 1px solid $main;
			text-align: center;
			line-height: 2rem;
			font-size: 1.2rem;
		}
		&:hover{	
			&::before{
				color: white;
				border: 1px solid white;
				background: $second;
			}
		}
		&:checked{
			&::before{
				color: white;
				border: 1px solid white;
				background: $second;
			}
		}
	}
}
.stopwatch{
	.header{
		position: fixed;
		top: 2rem;
		left: 10rem;
		right: 0;
		height: 4rem;
		background: white;
		z-index: 1;
	}
	.tasks{
		margin-top: 5rem;
	}
}
.tracker {
	width: calc(100% - 10rem);
	line-height: 2rem;
	-webkit-app-region: no-drag;
	margin: 0;
	background: $main;
	height: 4rem;
	display: inline-block;
	.card {
	  width: 8rem;
	  display: inline-block;
	  float: left;
	  height: 4rem;
	  line-height: 4rem;
	  margin-right: 0.5rem;
	  input{
	  	display: inline-block;
	    height: 3rem;
	    line-height: 3rem;
	    white-space: nowrap;
	    border: none;
	    border-bottom: 1px solid white;
	    width: 100%;
	    padding: 0.5rem;
	    float: left;
	    margin-top: 0.5rem !important;
	    background: transparent;
	    margin-left: 0.5rem !important;
	    color: white;
	    font-size: 1.2rem;	
	  }
	  .clients-box, .projects-box{
			position: absolute;
	    overflow: hidden;
	    width: auto;
	    box-shadow: 0 4px 15px -2px rgba(0,0,0,0.5);
	    z-index: 1000;
	    background: white;
	    border-radius: 0 0 2px 2px;
			top: 3.5rem;
			left: 0.5rem;
			.close{
				position: absolute;
			}
		}
	  .clients-select, .projects-select {
		  position: relative;
		  z-index: 100000;
		  width: 20rem;
		  line-height: 2rem;
		  margin-top: 2rem;
		  padding: 0.5rem;
		  h3 {
			  margin: 0.5rem 0;
			}
		  ul {
			  list-style: none;
			  padding: 0;
			  margin: 0 0 0.5rem 0;
			  li {
			  	cursor: pointer;
			  	padding: 0 0.5rem;
			  	&:hover{
			  		background: $main;
			  		color: white;
			  	}
			  }
			}
		}
	}
	.time {
		font-family: 'notcourier';
    display: inline-block;
    font-size: 2rem;
    line-height: 4rem;
    float: right;
    color: white;
    margin: 0 0.5rem;
		width: 10rem;
		overflow: hidden;
		white-space: nowrap;
		text-align: center;
	}
	.name {
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    white-space: nowrap;
    border: none;
    border-bottom: 1px solid white;
    width: calc(100% - 40rem);
    padding: 0.5rem;
    float: left;
    margin-top: 0.5rem !important;
    background: transparent;
    margin-left: 0.5rem !important;
    color: white;
    font-size: 1.2rem;
	}
	.controlls {
		margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 4rem;
    width: 11rem;
    float: right;
    height: 4rem;
		button {
			-webkit-app-region: no-drag;
			float: right;
			height: 3rem;
			width: 3rem;
			display: inline-block;
			color: white;
			background: rgba(255, 255, 255, 0.2);
			border-radius: 100%;
			margin: 0.5rem;
			&:hover{
				color: $second;
			}
		}
	}
	&.mini{
		height: 8.5rem;
		margin-bottom: 1rem;
		position: relative;
		transition: all 0.2s ease;
		background: transparent;
		&.hide{
			height: 0 !important;
			overflow: hidden;
			padding: 0;
			margin: 0 !important;
		}
		.time{
			line-height: 3rem;
			text-align: left;
			width: 100%;
			padding: 0 0.5rem 0 0.5rem;
			font-size: 2rem;
			float: none;
			color: $main-bg;
			margin: 0;
		}
		.name{
			line-height: 2rem;
			width: 9rem;
			margin: 0.5rem !important;
			background: transparent;
			height: 2rem;
			border: 0;
			border-bottom: 1px solid $main;
			font-size: inherit;
			color: $main-bg;
		}
		.urgent-checkbox {
			position: absolute;
			top: 3.5rem;
			left: 7.5rem;
			.checkbox{
				color: $main;
				transform: scale(1);
				width: 2rem;
				height: 2rem;
				position: absolute;
				-webkit-appearance: none;
				top: 0;
				left: 0;
				margin: 0 !important;
				&::before{
					color: $main;
				}
				&:hover{
					&::before{
						color: white;
					}
				}
				&:checked{
					&::before{
						color: white;
					}
				}
			}
		}
		.controlls{
			position: relative;
			width: 100%;
			height: auto;
			button {
				width: calc(50% - 0.5rem);
				display: inline-block;
				-webkit-app-region: no-drag;
				border-radius: 0;
				height: 2rem;
				margin: 0;
				&.stop{
					color: $main;
					float: left;
					margin-left: 0.5rem;
				}
				&.start{
					color: $main;
					float: right;
					margin-right: 0.5rem;
				}
				&:hover{
					color: white;
					background: $main;
				}
			}
		}
	}
}
.card{
	position: relative;
	.clients-box, .projects-box{
		position: absolute;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 4px 15px -2px rgba(0,0,0,0.5);
    z-index: 1000;
    background: white;
    border-radius: 0 0 2px 2px;
		.close{
			position: absolute;
		}
	}
}

/* CONTENT --------------------------------------------------------------- */
.content {
	width: calc(100% - $menu-width);
	position: fixed;
	left: $menu-width;
	top: $header-height;
	right: 0rem;
	bottom: 0;
	overflow: auto;
	background: white;
}

/* TASKS ----------------------------------------------------------------- */
.tasks {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  .task{
  	position: relative;
  	padding: 0 1rem;
    margin-bottom: 0.5rem;
    height: 3rem;
    overflow: hidden;
    background: rgba(0,0,0,0.05);
    line-height: 3rem;
  	.name, .time, .urgent{
  		float: left;
  		margin-right: 0.5rem;
  	}
  	.urgent{
  		height: 3rem;
  	}
  	.continue, .delete, .client-project, .start{
  		float: right;
  	}
  	.start, .client-project {
		  line-height: 1.5rem;
		  position: absolute;
		  right: 8.5rem;
		  top: 1.5rem;
		  font-size: 0.8rem;
		  color: #999;
		}
		.client-project{
			top: inherit;
			bottom: 1.2rem;
		}
  	.continue, .delete {
  		cursor: pointer;
		  width: 3rem;
		  text-align: center;
		  background: rgba(0,0,0,0.05);
		  margin-left: 0.5rem;
		  transition: all 0.3s ease;
		  &:hover{
		  	background: $main;
		  	color: white;
		  }
		}
		.continue{
			color: $main;
		}
		.delete{
			color: $second;
			&:hover{
				background: $second;
			}
		}
    .urgent-checkbox {
		  height: 3rem;
		  width: 3rem;
		  transform: scale(0.6);
	    .checkbox {
				padding: 0px !important;
				margin: 0.5rem !important;
			}
		}
		.time {
		  width: 5rem;
			height: 2rem;
			line-height: 2rem;
			margin: 0.5rem !important;
			background: transparent;
			border: none;
		}
		.name {
			width: 40%;
			float: left;
			display: inline;
			line-height: 3rem;
			border: none;
			background: transparent;
		}
  }
}

/* SORTABLE STYLES ------------------------------------------------------- */
.as-sortable-item, .as-sortable-placeholder {
	//
	min-height: 20px;
	margin: 0 !important;
	border-radius: 0 !important;
	border: 0 !important;
	border-bottom: 1px dashed #ccc !important;
}

/* INVOICE LIST ---------------------------------------------------------- */
.invoice{
	padding: 5rem 2rem 2rem 2rem;
	.header {
	  margin-bottom: 1rem;
	}
	.invoice-no {
    float: right;
	}
	.message{
		margin: 1rem 0;
    border-top: 1px solid darken($main, 5%);
    border-bottom: 1px solid darken($main, 5%);
	}
	.our-meta{
		margin: 1rem 0;
		padding: 1rem 0;
		border-top: 1px solid darken($main, 5%);
	}
	.list{
		border-top: 4px solid darken($main, 5%);
		.tasks{
			padding: 0;
			margin: 0;
			width: 100%;
			position: relative;
			.item {
				display: block;
				width: 100%;
				padding: 0 1rem;
				margin: 0;
				color: #222;
				border-bottom: 1px dashed #ccc;
				position: relative;
				height: 2.5rem;
				.descr {
					line-height: 2.5rem;
					display: inline-block;
					width: 54%;
					padding: 0;
					margin: 0;
					position: relative;
					float: left;
					[data-as-sortable-item-handle] {
						position: absolute;
						right: 0;
						line-height: 2.5rem;
						width: 2.5rem;
						height: 2.5rem;
						border-radius: 1rem;
						text-align: center;
						font-size: 0.9rem;
					}
					.remove-button {
						position: absolute;
						right: 4rem;
						line-height: 1.6rem;
					}
				}
				.price {
					line-height: 2.5rem;
					display: inline-block;
					width: 45%;
					text-align: right;
					border-left: 1px dashed #ccc;
					margin: 0;
					float: none;
					.show {
						float: right;
						margin-left: 0.5rem;
						width: 2rem;
						height: 2.5rem;
						position: relative;
						text-align: center;
					  input {
						  -webkit-appearance: none;
						}
					  span {
							width: 100%;
							height: 100%;
							color: $main;
						}
					}
					.time-box {
					  float: left;
					  width: 50%;
					  text-align: left;
						.tracked-edit {
							float: right;
							margin-left: 1rem;
							text-align: right;
						}
						&.noprint{
							opacity: 0.4;
							.show {
							  span {
									color: $second;
								}
							}	
						}
					}
					.price-box {
						float: right;
						position: relative;
						min-width: 6rem;
						text-align: right;
						.price-edit{
							line-height: 2.5rem;
							float: right;
						}
						&.noprint{
							opacity: 0.4;
							.show {
							  span {
									color: $second;
								}
							}	
						}
					}
				}
				.move, .remove{
					//
					visibility: hidden;
					position: absolute;
			    right: 3rem;
			    height: 2.5rem;
			    line-height: 2.5rem;
			    width: 2.5rem;
			    text-align: center;
				}
				&:hover{
					.move, .remove{
						visibility: visible;
					}
				}
				label{
					.show {
						width: 1.8rem;
						display: inline-block;
						height: 1.8rem;
						overflow: hidden;
					}
				}
				.show-time{
					//
					margin: 0 !important;
				}
				&.temp {
					background: #ffc;
					color: #666;
				}
			}
			.top{
				//background: $main;
				//color: white;
				display: block;
				height: 2.5rem;
			}
		}
		.total-meta-holder {
		  width: 46%;
		  float: right;
		  padding: 0.5rem;
		  border-bottom: 2px solid darken($main, 5%);
		  .show {
				float: right;
				margin-right: 1rem;
				width: 8rem;
				height: 1.5rem;
				position: relative;
				text-align: right;
				line-height: 1.5rem;
				.fa-eye-slash{
					color: $second;
				}
			  input {
				  -webkit-appearance: none;
				}
			  span {
					width: 100%;
					height: 100%;
					color: $main;
				}
			}
		  .cena {
			  float: right;
			  margin-right: 1rem;
			}
		}
		.notes {
		  padding: 2.5rem 1rem 1rem 1rem !important;
		  line-height: 1rem;
		  .no-vat {
			  position: absolute;
			  top: 0;
			  left: 0;
			  right: 0;
			  line-height: 2.5rem;
			  height: 2.5rem;
			  padding-left: 1rem;
				//background: $main;
				//color: white;
				display: block;
			}
		}
	}
	.add-box{
		height: 2rem;
		display: block;
		.calc-summary, .date-from, .date-to {
			width: 32%;
			display: inline-block;
			height: 2rem;
			line-height: 2rem;
			border: 0;
			text-align: center;
		}
		.date-from, .date-to {
			background: rgba($main, 0.1);
			&::-webkit-datetime-edit { padding: 1em; }
			&::-webkit-datetime-edit-fields-wrapper { background: transparent; }
			&::-webkit-datetime-edit-text { color: $main; padding: 0 0.2em; }
			&::-webkit-datetime-edit-month-field { color: $main; }
			&::-webkit-datetime-edit-day-field { color: $main; }
			&::-webkit-datetime-edit-year-field { color: $main; }
			&::-webkit-inner-spin-button { display: none; }
			&::-webkit-calendar-picker-indicator { 
				color: $main;
				padding: 0.5rem;
			}
			&:hover{
				background: $main;
				color: white;
				&::-webkit-datetime-edit { padding: 1em; }
				&::-webkit-datetime-edit-fields-wrapper { background: transparent; }
				&::-webkit-datetime-edit-text { color: white; padding: 0 0.2em; }
				&::-webkit-datetime-edit-month-field { color: white; }
				&::-webkit-datetime-edit-day-field { color: white; }
				&::-webkit-datetime-edit-year-field { color: white; }
				&::-webkit-inner-spin-button { display: none; }
				&::-webkit-calendar-picker-indicator { 
					color: white; 
					background: $main;
					&:hover{
						color: $second;
					}
				}
			}
		}
		.add-item{
			padding: 0 0.8rem;
			position: absolute;
			left: 50%;
			transform: translate(-50%,0);
		}
		.editContainer {
			position: absolute;
			background: white;
			z-index: 10;
			width: 100%;
			margin-bottom: 2rem;
			box-shadow: 0 5px 16px -5px;
			height: 0 !important;
			overflow: hidden;
			.summaries{
				list-style: none;
		    padding: 0;
		    margin: 0;
				.sum-item{
					border-bottom: 1px dashed #aaa;
					margin-bottom: 0.1rem;
					.name, .hours, .show-subs, .add-to-invoice, .money{
						line-height: 2.5rem;
					}
					.money, .hours {
						min-width: 6rem;
						text-align: right;
					}
					.money {
						float: right;
						padding: 0 10px;
					}
					.hours {
						float: right;
						padding: 0 10px;
					}
					.show-subs, .add-to-invoice {
					  float: right;
					  width: 2.5rem;
					  text-align: center;
					  height: 2.5rem;
					  cursor: pointer;
					  &:hover{
					  	background: $main;
					  	color: white;
					  }
					}
					.show-subs {
					  background: rgba(0,0,0,0.1);
					  margin: 0 0 0 0.2.5rem;
					}
					.add-to-invoice {
					  background: rgba(0,0,0,0.05);
					}
					ul{
						display: none;
						list-style: none;
						padding-left: 0.6rem;
						.sum-item{
							.add-to-invoice {
							  margin-right: 2.5rem;
							}
						}
						&.active{
							margin-bottom: 1rem;
							display: block;
						}
					}
				}
			}
			&.active{
				height: auto !important;
				padding: 1rem;
				min-height: 15rem;
				overflow: auto;
				margin-top: 2rem;
			}
		}
	}
	.invoice-meta {
		padding: 1rem;
		//border: 1px solid #eee;
		//margin: 0.4rem;
		.title, .name, .address, .bank{
			display: block;
		}
		.title{
		}
		.name{
		}
		.address{
		}
		.bank{
		}
	}
}
.right-border{
	border-right: 1px solid darken($main, 5%);	
}
.top-border{
	border-top: 2px solid darken($main, 5%);	
}

 /* INVOICE LOGO IMAGE --------------------------------------------------- */
.logo{
	position: relative;
	width: 4rem;
	height: 4rem;
	display: inline-block;
	.remove {
		position: absolute;
		top: 2rem;
		line-height: 2rem;
		height: 2rem;
		width: 9rem;
		left: 4.4rem;
	}
	.image {
		max-width: 4rem;
		max-height: 4rem;
		vertical-align: middle;
	}
}
#logo-upload {
	position: absolute;
	width: 4rem;
	height: 4rem;
	border: 1px dashed #3ca0dc;
	display: inline-block;
	top: 0;
}

/* MIXED STYLES ---------------------------------------------------------- */
#export-folder {
	position: relative;
	width: 80%;
	height: 2rem;
	border: 1px dashed #3ca0dc;
	display: inline-block;
}
.add-client, .add-project{
	background: white;
	transition: all 0.1s ease;
	width: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 22rem;
	height: 60vh;
	transform: translate(-50%,-50%) scale(0);
	z-index: 100;
	box-shadow: 0 0 50px rgba(0,0,0,0.4);
	border-radius: 2px;
	padding: 2rem;
	max-width: 90vw;
	opacity: 0;
	&.active{
		opacity: 1;
		transform: translate(-50%,-50%) scale(1);
	}
	input {
	border: none;
	line-height: 1.2rem;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.1rem;
	max-width: 100%;
	}
}
.close, .minimize, .maximize {
	-webkit-app-region: no-drag;
	position: fixed;
	top: 0;
	width: 2rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem !important;
	background: rgba(0,0,0,0.1);
	z-index: 10;
	cursor: pointer;
	&:hover{
		&::before{
			color: #bb3344;
		}
	}
}
.close{
	right: 0;
}
.minimize{
	right: 2rem;
}
.maximize{
	right: 4rem;
}

@media print {
	@page {
		margin: 0;
	}
	html, body {
		zoom: 100%;
		font-size: 12px;
	}
	.noprint{
		display: none;
		visibility: hidden;
	}
	header {
		display: none;
	}
	.content{
		position: relative;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		overflow: hidden;
		height: 100%;
	}
	.invoice{
		padding: 1cm 1cm 1cm 1cm;
		.clients-select{
			display: none;
		}
	}
	[contenteditable]{
		&::before{
			display: none;
		}
	}
	input, button, select{
		display: none;
	}
	#logo-upload{
		border: none !important;
	}
}