.spinner {
  width: 40px;
  height: 40px;
  margin: 0;
  background-color: white;
  border-radius: 100%;
  animation: sk-scaleout 1.0s infinite ease; }

/* RUBIK Font */
@font-face {
  font-family: 'rubik';
  src: url("../fonts/rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rubik-light';
  src: url("../fonts/rubik/Rubik-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rubik-bold';
  src: url("../fonts/rubik/Rubik-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'rubik-italic';
  src: url("../fonts/rubik/Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* HACK Font */
@font-face {
  font-family: 'hack';
  src: url("../fonts/hack/Hack-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'hack-bold';
  src: url("../fonts/hack/Hack-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* INCONSOLATA Font */
@font-face {
  font-family: 'notcourier';
  src: url("../fonts/notcouriersans/NotCourierSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'notcourier-bold';
  src: url("../fonts/notcouriersans/NotCourierSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "rubik";
  -webkit-app-region: drag;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: transparent;
  background: #1ebe82;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1ebe82 0%, #0dad71 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1ebe82), color-stop(100%, #0dad71));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1ebe82 0%, #0dad71 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1ebe82 0%, #0dad71 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1ebe82 0%, #0dad71 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #1ebe82 0%, #0dad71 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */ }

@keyframes jump {
  0% {
    fill: white;
    transform: translate(0, 0); }
  20% {
    fill: white;
    transform: translate(0, 0); }
  40% {
    fill: #40e0a4;
    transform: translate(0, -2px); }
  60% {
    fill: white;
    transform: translate(0, 0); }
  80% {
    fill: white;
    transform: translate(0, 0); }
  100% {
    fill: white;
    transform: translate(0, 0); } }
@keyframes sk-scaleout {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1);
    opacity: 0; } }
.container {
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center; }
  .container #freelancer .F, .container #freelancer .R, .container #freelancer .R2, .container #freelancer .E, .container #freelancer .E2, .container #freelancer .E3, .container #freelancer .L, .container #freelancer .A, .container #freelancer .N, .container #freelancer .C {
    fill: white;
    animation: jump 2s ease 0s infinite; }
  .container #freelancer .F {
    animation-delay: 0s; }
  .container #freelancer .R {
    animation-delay: 0.1s; }
  .container #freelancer .E {
    animation-delay: 0.2s; }
  .container #freelancer .E2 {
    animation-delay: 0.3s; }
  .container #freelancer .L {
    animation-delay: 0.4s; }
  .container #freelancer .A {
    animation-delay: 0.5s; }
  .container #freelancer .N {
    animation-delay: 0.6s; }
  .container #freelancer .C {
    animation-delay: 0.7s; }
  .container #freelancer .E3 {
    animation-delay: 0.8s; }
  .container #freelancer .R2 {
    animation-delay: 0.9s; }

.version {
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  opacity: 0.8; }

/*# sourceMappingURL=splash.css.map */
