@import "colors";
@import "mixins";
@import "font";

body{
	font-family: "rubik";
	-webkit-app-region: drag;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background-color: transparent;
	@include fromTopGradient($main,$main - #111);
}

@keyframes jump {
  0% {
		fill: white;
		transform: translate(0,0);
	}
	20% {
		fill: white;
		transform: translate(0,0);
	}
  40% {
  	fill: $main + #222;
		transform: translate(0,-2px);
  }
	60% {
  	fill: white;
		transform: translate(0,0);
  }
	80% {
  	fill: white;
		transform: translate(0,0);
  }
  100% {
  	fill: white;
		transform: translate(0,0);
  }
}

@keyframes sk-scaleout {
  0% { 
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.container {
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	#freelancer-svg{
		//width: 80vw;
	}
	#freelancer{
		.F,.R,.R2,.E,.E2,.E3,.L,.A,.N,.C{
			fill: white;
			animation: jump 2s ease 0s infinite;
		}
		.F{
			animation-delay: 0s;
		}
		.R{
			animation-delay: 0.1s;
		}
		.E{
			animation-delay: 0.2s;
		}
		.E2{
			animation-delay: 0.3s;
		}
		.L{
			animation-delay: 0.4s;
		}
		.A{
			animation-delay: 0.5s;
		}
		.N{
			animation-delay: 0.6s;
		}
		.C{
			animation-delay: 0.7s;
		}
		.E3{
			animation-delay: 0.8s;
		}
		.R2{
			animation-delay: 0.9s;
		}
	}
}
.version{
	color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	font-size: 0.8rem;
	padding: 0.5rem 1rem;
	opacity: 0.8;
}