@import "font.css";

/* angular xeditable css */

.editable-wrap {
  display: inline-block;
  white-space: nowrap;
  margin: 0
}
.editable-wrap .editable-controls,
.editable-wrap .editable-error {
  margin-bottom: 0
}
.editable-wrap .editable-controls>input,
.editable-wrap .editable-controls>select,
.editable-wrap .editable-controls>textarea {
  margin-bottom: 0
}
.editable-wrap .editable-input {
  display: inline-block
}
.editable-buttons {
  display: inline-block;
  vertical-align: top
}
.editable-buttons button {
  margin-left: 5px;
  width: 36px;
}
.editable-input.editable-has-buttons {
  width: auto
}
.editable-bstime .editable-input input[type=text] {
  width: 46px
}
.editable-bstime .well-small {
  margin-bottom: 0;
  padding: 10px
}
.editable-range output {
  display: inline-block;
  min-width: 30px;
  vertical-align: top;
  text-align: center
}
.editable-color input[type=color] {
  width: 50px
}
.editable-checkbox label span,
.editable-checklist label span,
.editable-radiolist label span {
  margin-left: 7px;
  margin-right: 10px
}
.editable-hide {
  display: none!important
}
.editable-click,
a.editable-click {
  text-decoration: none;
}
.editable-click:hover,
a.editable-click:hover {
  text-decoration: none;
  color: #2a6496;
  border-bottom-color: #2a6496
}
.editable-empty,
.editable-empty:hover,
.editable-empty:focus,
a.editable-empty,
a.editable-empty:hover,
a.editable-empty:focus {
  text-decoration: none
}
/*********  Global styles **********/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: #404041;
  background-color: #fff;
  margin: 0;
}
a {
  background: transparent;
  color: #428bca;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
  color: #2a6496;
  text-decoration: underline;
}
img {
  border: 0;
}
ol {
  padding: 0 20px;
  margin: 0;
}
ol li {
  margin-bottom: 12px;
}
ol li:last-child {
  margin-bottom: 14px;
}
button.btn.btn-default .fa {
  font-size: 19px;
  position: relative;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
textarea {
  overflow: auto;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
p {
  margin: 0 0 10px;
}
dl {
  margin-top: 0;
  margin-bottom: 20px;
}
dt {
  line-height: 1.42857143;
}
dt {
  font-weight: bold;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.col-sm-2,
.col-xs-3,
.col-xs-4,
.col-md-6,
.col-xs-9,
.col-xs-10,
.col-sm-10,
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-3,
.col-xs-4,
.col-xs-6,
.col-xs-9,
.col-xs-10,
.col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.3%;
}
@media (min-width: 768px) {
  .col-sm-2,
  .col-sm-10 {
    float: left;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
}
@media (min-width: 992px) {
  .col-md-6 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
}
table {
  max-width: 100%;
  background-color: transparent;
}
th {
  text-align: left;
}
.table {
  width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > thead:first-child > tr:first-child > th {
  border-top: 0;
}
.table > tbody > tr.warning > td {
  background-color: #fcf8e3;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 15px;
}
.form-horizontal .control-label {
  padding-top: 7px;
  margin-top: 0;
  margin-bottom: 0;
}
.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
  }
}
.btn {
  display: inline-block;
  padding: 6px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #404041;
  text-decoration: none;
}
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-default {
  color: #404041;
  background-color: #fff;
  border-color: #ccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
  color: #404041;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-default:active {
  background-image: none;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.container:before,
.container:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  display: table;
  content: " ";
}
.container:after,
.row:after,
.form-horizontal .form-group:after {
  clear: both;
}
@-ms-viewport {
  width: device-width;
}
*:focus,
button:active {
  box-shadow: none !important;
  outline: none !important;
}
body {
  font-family: "latin_modern_mono10_regular", monospace; font-weight: 500; font-size: 11px;
  line-height: 1.5;
}
textarea, input {
  font-family: sans-serif;
}
.btn {
  padding: 7px 9px 3px 10px;
  font-size: 16px;
}
.remove-button {
  font-size: 16px !important;
  padding-left: 7px;
  vertical-align: middle;
  cursor: pointer;
  transition: color .2s;
}
.remove-button:hover {
  transition: color .2s;
  color: red;
}
.note-item .remove-button {
  margin-top: -4px;
  padding-left: 7px;
}
.ui-sortable-handle {
  cursor: -webkit-grab;
}
.ui-sortable-handle.ui-sortable-helper {
  cursor: -webkit-grabbing;
}
.ui-sortable-handle.ui-sortable-helper p {
  font-weight: bold;
}
.ui-sortable-placeholder {
  height: 45px;
  background-color: rgba(167, 169, 171, .2);
  visibility: visible !important;
}
tr td p {
  display: inline-block;
}
.table > tbody > tr > td:first-child {
  width: 444px;
}
.table > tbody > tr > td:nth-child(2) {
  width: 189px;
}
.table > tbody > tr > td:nth-child(3) {
  width: 189px;
}
.ui-state-highlight {
  height: 45px;
  background-color: rgba(167, 169, 171, .2);
}
.logo-row {
  margin: 30px -15px 20px; padding-bottom: 15px;
  font-size: 14px; }
  .logo-row .aw-logo {
    width: 36px; float: left; }
  .logo-row .invoice-no {
    font-weight: 600; }
.invoicee-meta p {
  margin-bottom: 10px;
}
.invoicee-meta span {
  margin-bottom: 8px;
}
.invoicee-meta span:last-child {
  margin-bottom: 0;
}
.invoicee-meta {
  padding-left: 1px;
}
.nopadding-l {
  padding-left: 0 !important;
}
.nopadding-lr {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.top-meta-row {
  border-bottom: 7px solid #3A3A3B;
  padding-bottom: 18px; }
  .top-meta-row .dashed-title {
    font-size: 11px; color: #aaa; font-weight: 400; text-transform: uppercase;
    padding-bottom: 5px; margin-bottom: 10px; }
.project-meta-row {
  margin-top: 28px;
  margin-bottom: 40px;
  font-weight: 900;
  padding-left: 2px;
  text-transform: uppercase;
}
.lead-in-p {
  font-family: cursive;
  color: #A7A9AB;
  margin-bottom: 12px;
  text-transform: none;
  font-weight: 500;
  border-bottom: 1px solid #404041;
  padding-bottom: 20px;
  padding-left: 1.5px;
}
.box {
  background-color: #fff;
  border: 1px solid #404041;
  box-shadow: none;
  margin-left: 0;
  margin-right: 0;
  padding: 45px 15px 15px;
}
.info-content {
  display: none;
  position: fixed;
  width: 375px;
  top: 20px;
  right: 70px;
  border: 1px solid;
  padding: 20px;
  background-color: #ffffff;
}
.info-content.info-visible {
  display: initial;
}

.info-content p {
  margin-bottom: 20px;
}
.socials-wrap {
  text-align: center;
  border-top: 1px solid;
  padding-top: 14px;
  margin-bottom: -2px;
}
.socials-wrap h3 {
  border-top: 1px solid;
  padding-top: 20px;
  margin: 20px 0 12px;
}
.editContainer {
  width: 100%;
  height: 300px;
}
.editor {
  padding: 50px 0;
}
.editor .h3 {
  margin-bottom: 15px;
  font-weight: 900;
  text-transform: uppercase;
}
.total-meta-holder {
  width: 46%;
  float: right;
  clear: both;
  border-bottom: 1px solid #404041;
  padding: 15.5px 8px 14.5px 8px;
}
.message-holder-row {
  border-bottom: 10px solid #3A3A3B;
  padding: 20px 0;
}
.our-meta {
  margin: 20px 0 0 0;
  padding-left: 1.5px;
}
.message-holder {
  font-family: cursive;
  color: #A7A9AB;
  padding-right: 53px;
  padding-left: 1px;
}
.total-meta-holder span:first-child {
  float: left;
}
.helpers button {
  cursor: pointer;
}
.total-meta-holder span:last-child {
  float: right;
}
.notes {
  padding-top: 14px; }
  .notes .no-vat {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-style: italic; }
  .notes .inv-info {
    border-bottom: 1px dashed #c9c9c9;
    padding: 15px 0 15px 0px; margin: 0;
    line-height: 1.42857143; }
    .notes .inv-info:last-child {
      border: 0; }
    .notes .inv-info.muted {
      color: #777; }
.note-header {
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 5px;
}
.note-body {
  margin-bottom: 11px;
}
.note-body,
.message {
  line-height: 1.7;
}
.main-content-row {
  padding-bottom: 30px;
  border-bottom: 2px solid #3A3A3B;
}
.message {
  background: #fafafa; border-bottom: 7px solid #3A3A3B;
  text-align: center;
  padding: 15px 0; }
  .message p {
    margin: 0; }
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.message-holder p:last-child {
  margin-bottom: 0;
}
.print-btn {
  position: fixed;
  top: 68px;
  right: 18px;
  color: #404041;
  background: transparent;
  border: none;
  font-size: 2.55em !important;
}
.help-btn {
  position: fixed;
  top: 10px;
  right: 15px;
  padding: 8px;
  color: #404041;
  background: transparent;
  border: none;
  font-size: 3em !important;
}

@media print {
  @page {
    margin: 0;
  }
  #clients-select{
    display: none;
  }
  body {
    margin: 30px 55px;
  }
  .logo-row {
    margin-top: 0;
  }
  html, body {
    zoom: 100%;
  }
}