<!DOCTYPE html>
<html lang="en" ng-app="invoicer">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Angularjs Invoice</title>
	<link rel="stylesheet" type="text/css" href="../node_modules/ng-sortable/dist/ng-sortable.min.css">
	<link rel="stylesheet" href="./fonts/font-awesome-4.5.0/css/font-awesome.min.css">
	<link href="css/main.css" rel="stylesheet">
	<!-- sockets for internal comunication
	<script src="../node_modules/socket.io/node_modules/socket.io-client/socket.io.js"></script>
	-->
</head>

<body ng-controller="MainCtrl">

<div class="notif-area noprint">
	<div ng-repeat="( key, notification ) in alert.data" class="notification {{ notification.type }} {{ notification.animation }}">
		<span class="title">{{ notification.title }}</span>
		<span class="info">{{ notification.message }}</span>
		<span class="progress" style="height: {{ notification.progress }}%"></span>
		<span class="close" ng-click="alert.hide(notification.id)"></span>
	</div>
</div>

<header class="noprint">
	<span class="title">
		<svg id="svg2" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="67.123" width="66.322" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 66.322266 67.123047">
			<metadata id="metadata7">
				<rdf:RDF>
			  	<cc:Work rdf:about="">
			    	<dc:format>image/svg+xml</dc:format>
			    	<dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
		    		<dc:title/>
		   		</cc:Work>
		  	</rdf:RDF>
		 	</metadata>
			<g id="freelancer" transform="translate(4.4286 3.3299)">
		  <path id="FL" d="m2.4103 3.1085v54.242h2.8008v-27.039h29.438v-2.5625h-29.438v-22h46.961v48.965h-34.285v2.6406h37.168v-51.605-2.6328-0.0078h-52.645z"/>
			</g>
		</svg>  
	</span>
	<i class="fa fa-times close" ng-click="window.close()"></i>
	<i class="fa fa-minus minimize" ng-click="window.minimize()"></i>
	<i class="fa {{ window.maximized === true ? 'fa-sort-desc' : 'fa-arrows-alt' }} maximize" ng-click="window.maximize()"></i>
</header>

<div class="navigation noprint">
	<div class="hide-toggle" ng-click="minitracker.show = !minitracker.show">{{ minitracker.symbol() }}</div>
	<div class="tracker mini {{ minitracker.show === true ? '' : 'hide' }}">
		<input type="text" class="name" ng-model="stopwatch.task.name"></input>
		<span class="time">
			{{ stopwatch.formatTime(stopwatch.trackedTime) }}
		</span>
		<label class="urgent-checkbox">
			<input type="checkbox" class="checkbox" ng-model="stopwatch.task.urgent" />
			<span class="tip">Urgent?</span>
		</label>
		<div class="controlls">
			<button class="stop {{ stopwatch.buttons.stop.disabled === true ? 'disabled' : '' }}" ng-click="stopwatch.stop()"><i class="fa fa-stop"></i></button>
			<button class="start {{ (stopwatch.buttons.start.disabled !== false) || (stopwatch.buttons.pause.disabled !== false) ? '' : 'disabled' }}" ng-click="stopwatch.playPause()"><i class="fa fa-{{ stopwatch.startText }}"></i></button>
		</div>
	</div>
	<a href="#/stopwatch" class="item {{ currentSection === 'stopwatch' ? 'active' : '' }}">Stopwatch</a>
	<a href="#/invoice" class="item {{ currentSection === 'invoice' ? 'active' : '' }}">Invoice</a>
	<a href="#/settings" class="item {{ currentSection === 'settings' ? 'active' : '' }}">Settings</a>
</div>

<div class="content">
	<div class="container ng-hide" ng-show="contentLoaded">
		<div ng-view></div>
	</div>
</div>

<script src="../node_modules/pouchdb/dist/pouchdb.min.js"></script>
<!-- LIBS 
<script src="js/pouchdb-5.2.1.min.js"></script>
-->
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="../node_modules/angular-contenteditable/angular-contenteditable.js"></script>
<!-- ng-sortable -->
<script src="../node_modules/ng-sortable/dist/ng-sortable.min.js"></script>
<!-- OPTIONAL: default style 
-->
<link rel="stylesheet" type="text/css" href="../node_modules/ng-sortable/dist/ng-sortable.style.min.css">
<script src="js/xeditable.min.js"></script>
<!-- SCRIPTS/APP -->
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>


</body>
</html>
