<div class="invoice">
	<!-- .invoice .header -->
	<div class="row header">
		<div class="small-8 columns">
			<div class="logo" ng-controller="UploadCtrl">
				<img class="image" ng-if="settings.data.logo_image" src="{{ settings.data.logo_image }}">
				<div id="logo-upload" class="noprint">
				</div>
				<button class="remove" ng-click="settings.data.logo_image = false; settings.save();">Remove image</button>
			</div>
			<button class="save" ng-click="settings.save()">Save</button>
		</div>
		<div class="small-4 columns title">
			<span class="invoice-no">
				Invoice <span contenteditable ng-model="settings.data.invoice_no"></span>
			</span>
		</div>
	</div><!-- .invoice .header -->

	<!-- .invoice .invoice-meta -->
	<div class="row">
		<div class="small-8 columns flat">
			<div class="invoice-meta top-border">
				<h2 class="title">Supplier</h2>
				<h3 class="name" contenteditable ng-model="settings.data.our_name" ng-change="settings.doSave();"></h3>
				<p class="address" contenteditable ng-model="settings.data.our_address" ng-change="settings.doSave();"></p>
				<h3>Bank account</h3>
				<p class="bank">
					<span contenteditable ng-model="settings.data.our_bank" ng-change="settings.doSave();"></span><br>
					<span class="account-no">
						Account number: <strong contenteditable ng-model="settings.data.our_accno" ng-change="settings.doSave();"></strong>
					</span>
				</p>
			</div>
		</div>
		<div class="small-4 columns flat">
			<div class="invoice-meta odberatel">
				<h2 class="title">Client</h2>
				<!-- client select -->
				<label id="clients-select noprint">
					<select name="clients" ng-model="currentClientId" ng-change="invoice.setClient(currentClientId)">
						<option ng-repeat="client in clients.data" value="{{ client._id }}">
							{{ client.company }}
						</option>
					</select>
				</label><!-- client select -->
				<button class="save" ng-click="clients.save(currentClientId)">
					Update <i class="fa fa-check"></i>
				</button>
				<h3 class="name" contenteditable ng-model="invoice.currentClient.company">{{invoice.currentClient.company}}</h3>
				<p>
					<span class="street" contenteditable ng-model="invoice.currentClient.address">{{invoice.currentClient.address}}</span><br>
					<span class="city" contenteditable ng-model="invoice.currentClient.city">{{invoice.currentClient.city}}</span>
				</p>
				<p>
					<span class="ico" ng-if="invoice.currentClient.ico">IN: </span><span contenteditable ng-model="invoice.currentClient.ico">{{invoice.currentClient.ico}}</span><br>
					<span class="dic" ng-if="invoice.currentClient.dic">TAX ID: </span><span contenteditable ng-model="invoice.currentClient.dic">{{invoice.currentClient.dic}}</span>
				</p>
			</div>
	  </div>
	</div><!-- .invoice .invoice-meta -->

	<!-- .invoice .list -->
	<div class="row list">
		<div class="small-8 columns flat">
			<ul class="tasks" data-as-sortable="board.dragControlListeners" ng-model="invoice.data.line_items">
				<li class="item top">
					<div class="descr">Description</div>
					<div class="price">Price</div>
				</li>
				<!-- .invoice .list .tasks .item  -->
				<li class="item" data-as-sortable-item ng-repeat="item in invoice.data.line_items">
					<div class="descr">
						<div data-as-sortable-item-handle class="move noprint"><i class="fa fa-arrows"></i></div>
						<span contenteditable ng-model="item.name" style="display: inline-block;">{{item.name}}</span>
						<div ng-click="invoice.removeItem($index)" class="remove fa fa-close noprint"></div>
					</div>
					<div class="price">
						<div class="time-box {{ (item.showTime || showTime) === true ? '' : 'noprint' }}">
							<label class="show noprint"><span><i class="fa {{ (item.showTime || showTime) ? 'fa-eye' : 'fa-eye-slash' }}"></i></span>
								<input type="checkbox" ng-model="item.showTime"/>
							</label>
							<span class="tracked-edit" contenteditable ng-model="item.tracked">
								{{ item.trackedReadable }}
							</span>
						</div>
						<div class="price-box {{ (item.showPrice || showPrice) === true ? '' : 'noprint' }}">
							<label class="show noprint"><span><i class="fa {{ (item.showPrice || showPrice) ? 'fa-eye' : 'fa-eye-slash' }}"></i></span>
								<input type="checkbox" ng-model="item.showPrice"/>
							</label>
							<span class="price-edit">
								<span contenteditable ng-model="item.price">{{ item.price }}</span> {{ settings.data.currency }}
							</span>
						</div>
					</div>
				</li><!-- .invoice .list .tasks .item  -->
				<li class="item temp noprint" id="dynamicInsert" ng-show="invoice.data.temp.name">
					<div class="left"><span style="display: inline-block;">{{ invoice.data.temp.name }}</span></div>
					<div class="right price"><span>{{ invoice.data.temp.price | number }}</span></div>
				</li>
			</ul>
			<div class="add-box noprint">
				<button class="add-item {{ showEditor === true ? 'active' : '' }}" ng-click="showEditor = !showEditor">
					<i class="fa fa-plus"></i>
				</button>
				<div class="editContainer {{ showEditor === true ? 'active' : '' }}">
					<div class="row summary">
						<center>
							<input type="date" ng-model="invoice.fromDate" class="date-from">
							<input type="date" ng-model="invoice.toDate" class="date-to">
							<button ng-click="invoice.getSummary()" class="calc-summary">Calculate Summary</button>
						</center>
						<ul class="summaries">
							<li ng-repeat="item in invoice.summary" class="sum-item">
								<span class="name">{{ item.name }}</span>
								<span class="show-subs" ng-click="item.showSubs = !item.showSubs">
									<i class="fa fa-arrow-{{ item.showSubs === true ? 'up' : 'down' }}"></i>
								</span>
								<span class="add-to-invoice" ng-click="invoice.addFromSum(item)"><i class="fa fa-plus"></i></span>
								<span class="money">{{ invoice.calculateMoney(item.tracked) }} {{ settings.data.currency }}</span>
								<span class="hours">{{ stopwatch.formatTime(item.tracked) }}</span>
								<ul class="{{ item.showSubs === true ? 'active' : '' }}">
									<li ng-repeat="subitem in item.tasks" class="sum-item">
										<span class="name">{{ subitem.name }}</span>
										<span class="add-to-invoice" ng-click="invoice.addFromSum(subitem)"><i class="fa fa-plus"></i></span>
										<span class="money">{{ invoice.calculateMoney(subitem.tracked) }} {{ settings.data.currency }}</span>
										<span class="hours">{{ stopwatch.formatTime(subitem.tracked) }}</span>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="row editor">
						<p class="h3">Add invoice item:</p>
						<div class="small-12 medium-12 large-12 box">
							<form class="form-horizontal" role="form" ng-submit="invoice.addItem()">
								<div class="col-md-6">

									<div class="form-group">
										<label for="taskTitle" class="col-sm-2 control-label">Description</label>
										<div class="col-xs-10">
											<input type="text" ng-model="invoice.data.temp.name" class="form-control" id="taskTitle" placeholder="Item description">
										</div>
									</div>

									<div class="form-group">
										<label for="taskDesc" class="col-sm-2 control-label">Price</label>
										<div class="col-xs-10">
											<input type="text" ng-model="invoice.data.temp.price" class="form-control" id="taskDesc" placeholder="Price">
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button type="submit" class="btn btn-default">Add</button>
										</div>
									</div>

								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="total-meta-holder">
				<span ng-if="showPrice || invoice.haveSomePrice()">
					<span class="">Summary: </span>
					<span class="cena"><strong>{{ invoice.getTotal() | number }} {{ settings.data.currency }}</strong></span><br>
				</span>
				<label class="noprint show">Hours <span><i class="fa {{ showTime ? 'fa-eye' : 'fa-eye-slash' }}"></i></span>
					<input type="checkbox" ng-model="showTime"/>
				</label>
				<label class="noprint show">Price <span><i class="fa {{ showPrice ? 'fa-eye' : 'fa-eye-slash' }}"></i></span>
					<input type="checkbox" ng-model="showPrice"/>
				</label>
			</div>
		</div>
		<div ng-model="sidebar.note" class="small-4 columns notes flat">
			<div class="no-vat" contenteditable ng-model="settings.data.our_platcem">I am not registered for VAT.</div>
			<p class="inv-created muted inv-info">
				Issued: <span editable-date="date" e-datepicker-popup="dd-MM-yyyy" datepicker-options="dateOptions" e-ng-required="true">{{date | date:'d. M. yyyy' }}</span>
			</p>
			<p class="inv-sent muted inv-info">
				Send: <span editable-date="date" e-datepicker-popup="dd-MM-yyyy" datepicker-options="dateOptions" e-ng-required="true">{{date | date:'d. M. yyyy' }}</span>
			</p>
			<p class="inv-due inv-info">
				<strong>Due: <span editable-date="inv_due" e-datepicker-popup="dd-MM-yyyy" datepicker-options="dateOptions" e-ng-required="true">{{inv_due | date:'d. M. yyyy' }}</span></strong>
			</p>
			<p class="inv-payment-type inv-info">
				Method of payment: <span contenteditable ng-model="invoice.currentClient.fuhrady">{{ invoice.currentClient.fuhrady }}</span>
			</p>
		</div>
	</div>

	<div class="row message">
		<div class="column">
			<div ng-if="showPrice || invoice.haveSomePrice()">
				<p>
					Thus please pay <strong>{{ invoice.getTotal() | number}} {{ settings.data.currency }}</strong> to the account <strong contenteditable ng-model="settings.data.our_accno" ng-change="settings.doSave();"></strong> at the latest to <strong>{{inv_due | date:'d. M. yyyy' }}</strong>.<br>Thank you for your cooperation!
				</p>
			</div>
		</div>
	</div>

	<div class="row our-meta">
		<div class="column">
				<strong contenteditable ng-model="settings.data.our_name" ng-change="settings.doSave();"></strong>&ensp;|&ensp;
				<span contenteditable ng-model="settings.data.our_phone" ng-change="settings.doSave();"></span>&ensp;|&ensp;
				<span contenteditable ng-model="settings.data.our_mail" ng-change="settings.doSave();"></span>&ensp;|&ensp;
				<span contenteditable ng-model="settings.data.our_web" ng-change="settings.doSave();"></span>
			</p>
		</div>
	</div>
	
</div>