<div class="row logo-row">
	<div class="small-12 columns">
		<h1>Settings</h1>
	</div>

	<div class="small-6 columns">
		<h2 class="dashed-title">Supplier</h2>
		<h3 class="our-name" contenteditable ng-model="settings.data.our_name" ng-change="settings.doSave();"></h3><br>
		<p class="our-address" contenteditable ng-model="settings.data.our_address" ng-change="settings.doSave();"></p>
		<h3>Bank account</h3>
		<p class="bank">
			<span contenteditable ng-model="settings.data.our_bank" ng-change="settings.doSave();"></span><br>
			<span class="account-no">Account number: <strong contenteditable ng-model="settings.data.our_accno" ng-change="settings.doSave();"></strong></span>
		</p>
	</div>

	<div class="small-6 columns">
		<h2 class="dashed-title">Internal settings</h2>
		<label>Hour rate: <input type="number" ng-model="settings.data.hour_rate"/></label><br>
		<label>Currency: <input type="text" ng-model="settings.data.currency"/></label>
		<div>
			<h2>Export folder:</h2>
			<span>Current path: {{ settings.data.export_path }}</span><br>
			<strong>Where you want to have your invoice exported.<br>Drag and drop folder in box below:</strong><br>
			<div id="export-folder"></div>
		</div>
	</div>
	
	<div class="small-12 columns">
		<button class="save-settings" ng-click="settings.save()">Save</button>
	</div>

</div>