<link rel="stylesheet" type="text/css" href="../css/splash.css">
<div class="container">
	<svg id="freelancer-svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" height="67.68" width="277.31" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" viewBox="0 0 277.3125 67.68">
	 	<g id="title" transform="translate(4.4286 3.6092)">
		  <g id="freelancer">
		   <path class="F" d="m16.971 17.991v11h14.72v1.28h-14.72v13.52h-1.4v-27.12h18.6v1.32h-17.2z"/>
		   <path class="R" d="m52.606 30.591q4.8 1.44 4.8 6.44v6.76h-1.44v-6.64q0-5.76-7.76-5.76h-10.96v12.4h-1.44v-27.12h12.76q9.24 0 9.24 7 0 5.28-5.2 6.92zm-3.96-12.6h-11.4v12.04h10.76q3.48 0 5.68-1.36 2.68-1.64 2.68-4.88 0-5.8-7.72-5.8z"/>
		   <path class="E" d="m61.509 43.791v-27.12h20.04v1.32h-18.64v11h16.52v1.28h-16.52v12.2h18.84v1.32h-20.24z"/>
		   <path class="E2" d="m84.087 43.791v-27.12h20.04v1.32h-18.64v11h16.52v1.28h-16.52v12.2h18.84v1.32h-20.24z"/>
		   <path class="L" d="m106.67 43.791v-27.12h1.44v25.8h17.12v1.32h-18.56z"/>
		   <path class="A" d="m149.02 43.791-3.88-8.72h-14.88l-3.96 8.72h-1.68l12.48-27.12h1.48l12 27.12h-1.56zm-11.16-25.12-6.96 15.08h13.68l-6.72-15.08z"/>
		   <path class="N" d="m173.89 43.791-20.08-25.16v25.16h-1.44v-27.12h1.68q3.36 4.4 10.04 12.56 6.92 8.48 10.08 12.52v-25.08h1.44v27.12h-1.72z"/>
		   <path class="C" d="m203.48 22.111q-2.96-4.4-9.84-4.4-5.88 0-9.4 3.4-3.48 3.4-3.48 9.16 0 5.72 3.36 9.12 3.36 3.36 9.08 3.36 6.6 0 9.92-4.48l1.24 0.8q-3.76 5-11.12 5-6.44 0-10.2-3.68-3.72-3.68-3.72-9.96 0-6.44 3.84-10.24 3.88-3.8 10.48-3.8 7.64 0 11.04 4.92l-1.2 0.8z"/>
		   <path class="E3" d="m208.31 43.791v-27.12h20.04v1.32h-18.64v11h16.52v1.28h-16.52v12.2h18.84v1.32h-20.24z"/>
		   <path class="R2" d="m247.68 30.591q4.8 1.44 4.8 6.44v6.76h-1.44v-6.64q0-5.76-7.76-5.76h-10.96v12.4h-1.44v-27.12h12.76q9.24 0 9.24 7 0 5.28-5.2 6.92zm-3.96-12.6h-11.4v12.04h10.76q3.48 0 5.68-1.36 2.68-1.64 2.68-4.88 0-5.8-7.72-5.8z"/>
		  </g>
		</g>
	</svg>
	<span class="spinner"></span>
</div>
<span class="version">Alpha v0.0.1</span>