<div class="stopwatch">
	<!-- .stopwatch .header -->
	<div class="row header">
		<div class="column">
			<!-- .tracker -->
			<div class="tracker">

				<div class="card">
					<input type="hidden" ng-model="stopwatch.task.client"/>
					<input id="text_input" type="text" ng-model="stopwatch.clientFilter" ng-focus="showClients = true;showProjects = false" ng-change="stopwatch.fitText(stopwatch.clientFilter, 'text_input')"/>
					<!-- client select -->
					<div class="clients-box">
						<div class="close" ng-click="showClients = false">×</div>
						<div class="clients-select" ng-if="showClients">
							<h3>Client</h3>
							<ul class="clients">
								<li ng-repeat="client in clients.data | filter:stopwatch.clientFilter" 
									ng-click="stopwatch.task.client = client._id; stopwatch.clientFilter = client.company; showClients = false">
									{{ client.company }}
								</li>
							</ul>
							<button class="add-buttons" ng-click="clients.delete(stopwatch.task.client)"><i class="fa fa-trash"></i></button>
							<button class="add-buttons" ng-click="clients.newVisible = !clients.newVisible"><i class="fa fa-user-plus"></i></button>
							<button class="add-buttons" ng-click="clients.save(stopwatch.task.client)"><i class="fa fa-check"></i></button>
						</div>
					</div>
					<!-- #client select -->
				</div>
				<div class="card">
					<input type="hidden" ng-model="stopwatch.task.project"/>
					<input type="text" ng-model="stopwatch.projectFilter" ng-focus="showProjects = true;showClients = false"/>
					<!-- project select -->
					<div class="projects-box">
						<div class="close" ng-click="showProjects = false">×</div>
						<div class="projects-select" ng-if="showProjects">
							<h3>Project</h3>
							<ul class="projects">
								<li ng-repeat="project in projects.filtered | filter:stopwatch.projectFilter" 
									ng-click="stopwatch.task.project = project._id; stopwatch.projectFilter = project.name; showProjects = false">
									{{ project.name }}
								</li>
							</ul>
							<button class="add-buttons" ng-click="projects.delete(stopwatch.task.project)"><i class="fa fa-trash"></i></button>
							<button class="add-buttons" ng-click="projects.newVisible = !projects.newVisible"><i class="fa fa-user-plus"></i></button>
							<button class="add-buttons" ng-click="projects.save(stopwatch.task.project)"><i class="fa fa-check"></i></button>
						</div>
					</div>
					<!-- #project select -->
				</div>

				<input type="text" class="name" ng-model="stopwatch.task.name"></input>
				<span class="time">{{ stopwatch.formatTime(stopwatch.trackedTime) }}</span>
				<div class="controlls">
					<label class="urgent-checkbox">
						<input type="checkbox" class="checkbox" ng-model="stopwatch.task.urgent" />
						<span class="tip">Urgent?</span>
					</label>
					<button class="stop {{ stopwatch.buttons.stop.disabled === true ? 'disabled' : '' }}" ng-click="stopwatch.stop()"><i class="fa fa-stop"></i></button>
					<button class="start {{ (stopwatch.buttons.start.disabled !== false) || (stopwatch.buttons.pause.disabled !== false) ? '' : 'disabled' }}" ng-click="stopwatch.playPause()"><i class="fa fa-{{ stopwatch.startText }}"></i></button>
				</div>
			</div><!-- .tracker -->
		</div>
	</div><!-- .stopwatch .header -->
	<!-- ADD BOXES -->
	<div class="add-client {{ clients.newVisible === true ? 'active' : '' }}">
		<h3>New Client</h3>
		<input type="text" ng-model="clients.new.company" placeholder="Company"/><br>
		<input type="text" ng-model="clients.new.address" placeholder="Address"/><br>
		<input type="text" ng-model="clients.new.city" placeholder="City"/><br>
		<input type="text" ng-model="clients.new.ico" placeholder="ICO"/><br>
		<input type="text" ng-model="clients.new.dic" placeholder="DIC"/><br>
		<input type="text" ng-model="clients.new.fuhrady" placeholder="Forma úhrady"/><br>
		<button ng-click="clients.insert(clients.new)"><i class="fa fa-check"></i></button>
		<button ng-click="clients.newVisible = !clients.newVisible; clients.new = {}"><i class="fa fa-times"></i></button>
	</div>
	<div class="add-project {{ projects.newVisible === true ? 'active' : '' }}">
		<h3>New Project</h3>
		<input type="text" ng-model="projects.new.name" placeholder="Project Name"/><br>
		<!-- client select -->
		<h3>Select client</h3>
		<label id="clients-select"> 
			<select name="clients" ng-model="projects.new.client">
				<option ng-repeat="client in clients.data" value="{{ client._id }}">{{ client.company }}</option>
			</select>
		</label><br>
		<!-- #client select -->
		<button ng-click="projects.insert(projects.new)"><i class="fa fa-check"></i></button>
		<button ng-click="projects.newVisible = !projects.newVisible; projects.new = {}"><i class="fa fa-times"></i></button>
	</div>
	<!-- ADD BOXES -->

	<div class="row">
		<div class="small-12 columns">
			<ul class="tasks">
				<li ng-repeat="(key, task) in tasks.data | orderBy:'-start'" class="task">
					<span class="urgent">
						<label class="urgent-checkbox">
							<input type="checkbox" class="checkbox" ng-model="task.urgent" ng-change="tasks.save(task)"/>
							<span class="tip">Urgent?</span>
						</label>
					</span>
					<input class="time" ng-change="stopwatch.updateTask(task)" ng-model="task.newTime"></input>
					<input class="name" ng-change="tasks.save(task)" ng-model="task.name"></input>
					<div class="continue" ng-click="stopwatch.start(true,task)"><i class="fa fa-play"></i></div>	
					<div class="delete" ng-click="tasks.delete(task)"><i class="fa fa-trash"></i></div>	
					<span class="client-project">
						<span ng-if="projects.find(task.project)">{{ projects.find(task.project) }}</span>
						<span ng-if="clients.find(task.client)">{{ clients.find(task.client) }}</span>
					</span>
					<span class="start">{{ stopwatch.formatDate(task.start) }}</span>
				</li>
			</ul>
		</div>
	</div>
</div>